/* Basic code - don't modify */
#nav {
    background-image: url(../_img/Module/bg_menu.png);
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
}

#nav ul {
    position: absolute;
    display: none;
    width: 200px;
    left: 0;
    margin: 0;
    border: 1px solid #999;
    background-color: #999;
    padding: 0;
    padding-bottom: 1px !important;
}

#nav li {
    display: block;
    list-style: none;
    float: left;
    position: relative;
}

#nav a {
    display: block;
}

* html #nav ul {
    line-height: 0;
} /* IE6 "fix" */
#nav ul a {
    border-bottom: none; /* - I also needed this for IE6/7 */
    zoom: 1;
} /* IE6/7 fix */
#nav ul li {
    float: none;
}

#nav ul ul {
    top: 27px;
    left: 201px;
}
/* Everything else is theming */
#nav {
    width: 100%;
    height: 27px;
    font-size: 12px;
    font-weight: bold;
}

#nav a {
    color: black;
    padding: 8px;
    padding-top: 7px;
    line-height: 1;
}

#nav a:hover {
    background-image: url(../_img/Module/bg_menu_over.png);
}

#nav ul li a {
    margin-bottom: -1px;
    background: url(../_img/Module/bg_submenu.png);
}

#nav ul li a:hover {
    background-image: url(../_img/Module/bg_submenu_over.png);
}

.treeview {
    border: 1px solid gray;
    margin: 0;
    padding: 5px;
    list-style: none;
}

.treeview ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: white;
    margin-top: 4px;
}

.treeview .hitarea {
    background: url(../_img/jq.treeview/treeview-default.gif) -64px -25px no-repeat;
    height: 16px;
    width: 16px;
    margin-left: -16px;
    float: left;
    cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
    display: inline;
    float: none;
}

.treeview li {
    margin: 0;
    padding: 1px 0px 0px 16px;
}

.treeview a.selected {
    background-color: #eee;
}

#treecontrol {
    margin: 1em 0;
    display: none;
}

.treeview .hover {
    color: red;
    cursor: pointer;
}

.treeview li {
    background: url(../_img/jq.treeview/treeview-default-line.gif) 0 0 no-repeat;
}

.treeview li.collapsable, .treeview li.expandable {
    background-position: 0 -176px;
}

.treeview .expandable-hitarea {
    background-position: -80px -3px;
}

.treeview li.last {
    background-position: 0 -1766px
}

.treeview li.lastCollapsable, .treeview li.lastExpandable {
    background-image: url(../_img/jq.treeview/treeview-default.gif);
}

.treeview li.lastCollapsable {
    background-position: 0 -111px
}

.treeview li.lastExpandable {
    background-position: -32px -67px
}

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea {
    background-position: 0;
}

.treeview-red li {
    background-image: url(../_img/jq.treeview/treeview-red-line.gif);
}

.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable {
    background-image: url(../_img/jq.treeview/treeview-red.gif);
}

.treeview-black li {
    background-image: url(../_img/jq.treeview/treeview-black-line.gif);
}

.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable {
    background-image: url(../_img/jq.treeview/treeview-black.gif);
}

.treeview-gray li {
    background-image: url(../_img/jq.treeview/treeview-gray-line.gif);
}

.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable {
    background-image: url(../_img/jq.treeview/treeview-gray.gif);
}

.treeview-famfamfam li {
    background-image: url(../_img/jq.treeview/treeview-famfamfam-line.gif);
}

.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable {
    background-image: url(../_img/jq.treeview/treeview-famfamfam.gif);
}

.filetree li {
    padding: 3px 0 2px 16px;
}

.filetree span.folder, .filetree span.file {
    padding: 1px 0 1px 16px;
    display: block;
}

.filetree span.folder {
    background: url(../_img/jq.treeview/folder.gif) 0 0 no-repeat;
}

.filetree li.expandable span.folder {
    background: url(../_img/jq.treeview/folder-closed.gif) 0 0 no-repeat;
}

.filetree span.file {
    background: url(../_img/jq.treeview/file.gif) 0 0 no-repeat;
}

div.jqGrid {
    border: 1px solid #999;
    float: left;
}

.jqGridGridHeader {
    display: none;
}

.jqGridHeader {
    width: 100%;
}

.jqGridHeader th {
    font-size: 100%;
    font-weight: bold;
    text-align: left;
    padding: 2px;
    background-image: url(../_img/jq.jqGrid/headerbg.gif);
    color: #000000;
    width: 100%;
    white-space: nowrap;
}

.jqGridHeaderLeft {
    background-image: url(../_img/jq.jqGrid/headerleft.gif);
}

.jqGridHeaderRight {
    background-image: url(../_img/jq.jqGrid/headerright.gif);
}

.jqGridHeaderButton {
    background-image: url(../_img/jq.jqGrid/headerbg.gif);
}

.jqGridHeaderButton img {
    width: 17px;
}

.jqGridHeaderLeft img {
    width: 14px;
}

.jqGridHeaderRight img {
    width: 10px;
}
/* Grid */
table.jqGridScroll {
    table-layout: fixed;
    /*border-right: 1px solid #D4D0C8;*/
}

table.jqGridScroll tbody tr {
    background-color: #ffffff;
}

table.jqGridScroll tbody tr.jqGridAlt {
    background-color: #F9F9F9;
}

table.jqGridScroll tr.jqGridOver td {
    background-color: #E1DCF4;
}

table.jqGridScroll tr.jqGridSelected td {
    background: #3d84cc;
    color: White;
}

table.jqGridScroll tbody td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid #D4D0C8;
    border-left: 1px solid #D4D0C8;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: auto;
}

table.jqGridScroll thead th {
    background-color: #eee;
    padding: 2px;
    border-bottom: 1px solid #CBC7B8;
    border-left: 1px solid #D4D0C8;
    text-align: left;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    /*
     background-image: url(../_img/jq.jqGrid/grid-blue-hd.gif);
     height : 24px;
     */
}

table.jqGridScroll th div {
    overflow: hidden;
    /*	white-space: nowrap;*/
    word-wrap: break-word;
    height: 17px;
}

table.jqGridScroll th span {
    cursor: e-resize;
    /*	border-right: 1px solid #D6D2C2;  */
    width: 10px;
    float: right;
    display: block;
    margin: -2px -1px -2px 0px;
    height: 17px;
    overflow: hidden;
    white-space: nowrap;
}
/* End Grid */
/* Pager */
div.jqGridScroll {
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    background-color: #eee;
    display: none;
    padding-top: 3px;
    padding-bottom: 2px;
}

div.jqGridScroll span {
    font-size: 12px;
    vertical-align: top;
}

.jqGridSelbox {
    font-size: 10px;
    vertical-align: top;
}

input.jqGridSelbox {
    font-size: 12px;
    vertical-align: top;
    border: 0;
}

.jqGridPgbuttons {
    margin-top: 2px;
}

.jqGridNav-table-left {
    padding: 1px;
    float: left;
}

.jqGridNav-table-right {
    padding: 1px;
    float: right;
}

table.jqGridNavtable td.jqGridNav-button {
    border: 1px solid #E2ECF8;
    white-space: nowrap;
}

table.jqGridNavtable td.jqGridNav-hover {
    border: 1px solid #83B4D8;
}

table.jqGridTbutton tr td {
    border: none;
    padding: 0px;
}

img.jqGridJsHover { /*not used */
    border: 1px solid #99CCFF;
}
/* End Pager */
/*multiselect checkbox */
.jqGridCbox {
    height: 10px;
    width: 10px;
}
/* end multiselect */
/* loading div */
div.jqGridLoading {
    position: absolute;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    background: red;
    color: white;
    display: none;
}

div.jqGridLoadingui {
    display: none;
    z-index: 6000;
    opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha( opacity = 10 );

background-color:

#000;

position:absolute;
}
/* end loading div */
/* toolbar */
div.jqGridUserdata {
    margin-top: 0px;
    background-color: #EAF9F9;
    height: 20px;
}
/* end toolbar */
/*Subgrid  text mode*/
.jqGridSubgrid {
    height: 100%;
    overflow: auto;
}

.jqGridTablediv {
    background-color: White;
    border-spacing: 1px; /*cellspacing:poor IE support for  this*/
    border-collapse: separate;
    width: 100%; /* FF hack poor when scroling subgrid */
}

.jqGridCelldiv {
    float: left;
    display: table-cell;
    border: 1px dotted #CCCCCC;
    overflow: auto;
    white-space: normal;
}

.jqGridCelldivth {
    float: left; /*fix for  buggy browsers*/
    border: 1px solid #CCCCCC;
    background-color: #99CCFF;
    border-bottom: 1px solid #CBC7B8;
    text-align: left;
    overflow: auto;
}

.jqGridRowdiv {
    display: table-row;
    background: #F9F9F9 none;
    color: #000000;
    width: 100%;
    overflow: auto;
}
/* End Subgrid */
/* InLine editing */
input.jqGridEditable
[ type = "text" ] {
    font-size: x-small;
    overflow: hidden;
    height: 15px;
}

input.jqGridEditable
[ type = "checkbox" ] {
}

textarea.jqGridEditable {
    overflow: hidden;
}

select.jqGridEditable {
    font-size: x-small;
}
/* End Inline Editing */
/*Modal Window */
.jqGridModaltext {
    text-align: left;
}

.jqGridModalwin {
    border: 1px solid #555555;
    background: #F9F9F9;
    text-align: left;
    margin: 0 auto;
    overflow: auto;
}

.jqGridModalhead {
    background-image: url(../_img/jq.jqGrid/grid-blue-hd.gif);
    height: 20px;
}

.jqGridModalcontent {
    overflow: auto;
    margin-bottom: 9px;
    margin-left: 5px;
}
/* end Modal window*/
/* Search window */
input.jqGridSearch {
    margin: 2px;
    width: 70px;
    font-size: 10px;
    color: #15428B;
}

select.jqGridSearch {
    margin: 2px;
    width: 70px;
    font-size: 10px;
    color: #15428B;
}

.jqGridButtonsearch {
    width: 50px;
    font-size: 10px;
    color: #15428B;
}
/*End search */
/* Form edit */
.jqGridFormGrid {
    margin: 0px;
}

.jqGridEditTable {
    width: 100%;
}

.jqGridFormData { /* tr */
}

#FormError td {
    font-size: 90%;
    color: #FF0000;
    vertical-align: top;
    background-color: #f7f7f7;
}

.jqGridCaptionTD { /* td */
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    padding: 1px;
    border-top: 1px solid #D4D0C8;
    white-space: nowrap;
    color: #000000;
}

.jqGridDataTD { /* td */
    padding: 1px;
    border-top: 1px solid #D4D0C8;
    vertical-align: top;
}

.jqGridNavButton {
    border-top: 1px solid #D4D0C8;
    border-bottom: 1px solid #D4D0C8;
    text-align: center;
}

.jqGridNavButton input {
    width: 17px;
}

input.jqGridEditButton { /* buttons are at footer tr */
    font-size: 10px;
    color: #15428B;
}

td.jqGridEditButton {
    text-align: right;
    border-top: 1px solid #D4D0C8;
    border-bottom: 1px solid #D4D0C8;
}

.FormElement { /* form element  - input -text,textarea,checkbox - select  */
    font-size: 10px;
}

input
[ type = "text" ].jqGridFormElement {
    color: #15428B;
}

input
[ type = "checkbox" ].jqGridFormElement {
    width: 15px;
    color: #15428B;
}

input
[ type = "textarea" ].jqGridFormElement {
    color: #15428B;
}

select.jqGridFormElement {
    font-size: 10px;
    color: #15428B;
}
/* End Eorm edit */
/* Delete Dialog */
.jqGridDelButton > input { /* buttons are at footer tr */
    font-size: 10px;
    color: #15428B;
}

.jqGridDelButton {
    text-align: right;
}
/* End Delete Dialog */
img.jqGridJqResize {
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: se-resize;
}

.jqGridDirty-cell {
    background: transparent url(../_img/jq.jqGrid/dirty.gif) no-repeat 0 0;
}

#jqGridDelError td {
    font-size: 90%;
    color: #FF0000;
    vertical-align: top;
    background-color: #f7f7f7;
}
/* jqModal base Styling courtesy of;
 Brice Burgess <bhb@iceburg.net> */
/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
 the Window's z-index value will be set to 3000 by default (in jqModal.js). You
 can change this value by either;
 a) supplying one via CSS
 b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */
.jqmWindow {
    display: none;
    position: fixed;
    width: 600px;
}

.jqmOverlay {
    background-color: #000;
}
/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: expression( this

.parentNode.offsetWidth + 'px' );

height:
    expression( this

.parentNode.offsetHeight + 'px' );
}
/* Fixed posistioning emulation for IE6
 Star selector used to hide definition from browsers other than IE6
 For valid CSS, use a conditional include instead */
* html .jqmWindow {
    position: absolute;
    top: expression((document.documentElement.scrollTop || document.body.scrollTop ) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight ) / 100 ) + 'px' );
}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
/*{padding: 0; margin: 0;}*/
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
    font: 12px Arial, Helvetica, sans-serif;
    color: #333333;
}

#TB_secondLine {
    font: 10px Arial, Helvetica, sans-serif;
    color: #666666;
}

#TB_window a:link {
    color: #666666;
}

#TB_window a:visited {
    color: #666666;
}

#TB_window a:hover {
    color: #000;
}

#TB_window a:active {
    color: #666666;
}

#TB_window a:focus {
    color: #666666;
}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.TB_overlayMacFFBGHack {
    background: url(../_image/macFFBgHack.png) repeat;
}

.TB_overlayBG {
    background-color: #000;
    filter: alpha( opacity = 75 );

-moz-opacity:
    0.75;

opacity:
    0.75;
}

* html #TB_overlay { /* ie6 hack */
    position: absolute;
    height: 100%;
    height: expression( document

.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight:document.body.offsetHeight + 'px' );
}

#TB_window {
    position: fixed;
    background: #ffffff;
    z-index: 102;
    color: #000000;
    display: none;
    border: 4px solid #525252;
    text-align: left;
    top: 50%;
    left: 50%;
}

* html #TB_window { /* ie6 hack */
    position: absolute;
    margin-top: expression( 0 - parseInt( this

.offsetHeight / 2 ) + (TBWindowMargin =

document.documentElement && document.documentElement.scrollTop || document.body.scrollTop ) + 'px' );
}

#TB_window img#TB_Image {
    display: block;
    margin: 15px 0 0 15px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
}

#TB_caption {
    height: 25px;
    padding: 7px 30px 10px 25px;
    float: left;
}

#TB_closeWindow {
    height: 25px;
    padding: 11px 25px 10px 0;
    float: right;
}

#TB_closeAjaxWindow {
    padding: 5px 10px 5px 0;
    margin-bottom: 1px;
    text-align: right;
    float: right;
}

#TB_ajaxWindowTitle {
    float: left;
    font-size: 14px;
    padding: 3px 0 5px 10px;
    margin-bottom: 1px;
}

#TB_title {
    width: 100%;
    font-weight: bold;
    background-color: #e8e8e8;
    background-image: url(../_img/jq.thickbox/dialog_header.png);
    height: 26px;
}

#TB_ajaxContent {
    clear: both;
    padding: 5px;
    overflow: auto;
    text-align: left;
}

#TB_ajaxContent.TB_modal {
    width: 100%;
    padding: 15px;
}

#TB_ajaxContent p {
    padding: 5px 0px 5px 0px;
}

#TB_load {
    position: fixed;
    display: none;
    height: 13px;
    width: 208px;
    z-index: 103;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
    position: absolute;
    margin-top: expression( 0 - parseInt( this

.offsetHeight / 2 ) + (TBWindowMargin =

document.documentElement && document.documentElement.scrollTop || document.body.scrollTop ) + 'px' );
}

#TB_HideSelect {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border: none;
    filter: alpha( opacity = 0 );
	-moz-opacity:0;
	opacity:0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
    position: absolute;
    height: expression( document

.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight:document.body.offsetHeight + 'px' );
}

#TB_iframeContent {
    clear: both;
    border: none;
    margin-bottom: -1px;
    margin-top: 1px;
    _margin-bottom: 1px;
}